-i https://pypi.org/simple
-e git+https://github.com/oeyvindds/oandareports.git@1d973d1a579def9c2b9ef0d60178e2d953a0d69a#egg=oandareports
argon2-cffi==19.2.0
bokeh==1.4.0
boto3==1.10.39
botocore==1.13.39
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
cloudpickle==1.2.2
collectfast==1.3.1
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
dask[complete]==2.9.0
defusedxml==0.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
distributed==2.9.0
dj-database-url==0.5.0
dj-static==0.0.6
django-allauth==0.40.0
django-anymail[mailgun]==7.0.0
django-crispy-forms==1.8.1
django-environ==0.4.5
django-extensions==2.2.5
django-heroku==0.3.1
django-model-utils==3.2.0
django-redis==4.10.0
django-storages[boto3]==1.8
django-toolbelt==0.0.1
django==2.2.7
docutils==0.15.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
fastparquet==0.3.2
fsspec==0.6.1
gunicorn==20.0.3
heapdict==1.0.1
html5lib==1.0.1
idna==2.8
itypes==1.1.0
jinja2==2.10.3
jmespath==0.9.4
kiwisolver==1.1.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
llvmlite==0.30.0
locket==0.2.0
lockfile==0.12.2
luigi==2.8.10
markupsafe==1.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
matplotlib==3.1.2
msgpack==0.6.2
numba==0.46.0
numpy==1.17.4
oandapyv20==0.6.3
oauthlib==3.1.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
packaging==19.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pandas==0.25.3
partd==1.1.0
pillow==6.2.1
plotly==4.4.1
psutil==5.6.7
psycopg2==2.8.3
pycparser==2.19
pyparsing==2.4.5; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
pypdf2==1.26.0
python-daemon==2.1.2
python-dateutil==2.8.0; python_version >= '2.7'
python-dotenv==0.10.3
python-slugify==4.0.0
python3-openid==3.1.0
pytz==2019.3
pyyaml==5.2
redis==3.3.11
reportlab==3.5.32
requests-oauthlib==1.3.0
requests==2.22.0
retrying==1.3.3
s3transfer==0.2.1
scipy==1.3.3; python_version >= '3.5'
seaborn==0.9.0
setuptools-scm==3.3.3
six==1.13.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
sortedcontainers==2.1.0
sqlparse==0.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
static3==0.7.0
tblib==1.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
text-unidecode==1.3
thrift==0.13.0
toolz==0.10.0
tornado==5.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
tqdm==4.40.2
typing-extensions==3.7.4.1
typing==3.7.4.1
uritemplate==3.0.0
urllib3==1.26.5; python_version >= '3.4'
webencodings==0.5.1
whitenoise==5.0.1
xhtml2pdf==0.2.3
zict==1.0.0
