{% extends "base.html" %}


{% block title %}Welcome to Forex Analytics{% endblock title %}

{% block content %}
<div class="alert alert-dark" role="alert">
   <h4>
    Maximizing your trading dollar requires advanced analytics to account for the volatility that occurs at any given moment.
  </h4>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/static/images/reports.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Analytic Reports</h5>
      <p class="card-text">Our extensive set of report provide you insight into how optimized your trades are.</p>
    </div>
    <div class="card-footer">
      <a href="/reports/reports.html" class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/images/historic.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Historic trading</h5>
      <p class="card-text">Run a trading simulation on past pricing info.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/images/forex.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Portfolio</h5>
      <p class="card-text">Manage your account and set up trading limits.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Explore</a>
    </div>
  </div>
</div>
{% endblock content %}
